annotated-types
anyio
cached-property
certifi
click
distro
et-xmlfile
exceptiongroup
fastapi
h11
httpcore
httpx
idna
importlib-metadata
numpy
openai
openpyxl
pandas
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
six
sniffio
starlette
tqdm
typing_extensions
uvicorn
zipp
sentence-transformers
torch
scikit-learn
